main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

main button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.loading {
  cursor: progress;
  opacity: 0.5;

  .button-loading-icon {
    height: 100%;
  }
}

button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

main {
  padding: 0px 10% 30px;

  .title {
    width: 100%;
    margin: 16px 0px;
    display: flex;
  }

  .export-btn {
    outline: none;
    border: 1px solid;
    border-color: rgb(20, 86, 240);
    border-radius: 4px;
    background-color: rgb(20, 86, 240);
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    height: 44px;
  }

  .tip {
    color: red;
    font-size: 13px;
    text-align: left;
    display: block;
    margin-left: 5%;
    margin-bottom: 10px;
    width: 100%;
    line-height: 1.8;
  }
  .tip.info {
    color: rgb(20, 86, 240);
    margin-left: 0;
    font-size: 15px;
    font-weight: 500;
  }

  /* .tip::before {
    content: "*";
    font-size: 14px;
    margin-right: 3px;
  } */

  .template-check-wrapper {
    width: 100%;
    padding: 0px 10%;

    fieldset {
      max-height: 500px;
      overflow: auto;
    }

    .template-check-item {
      margin-bottom: 4px;
      display: flex;
      gap: 6px;
      align-items: center;
    }
  }

  .divider {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .template-preview {
    width: 100%;
    height: auto;
    margin: 12px 0;
  }

  .select {
    min-width: 150px;
    height: 32px;
    flex: 1;
  }

  .form-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
  }
}
